<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错了吗</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <script src="webjars/jquery/3.4.1/jquery.js"></script>
    <script src="js/bootstrap.bundle.js" type="application/javascript"></script>
</head>
<body>
<h1 style="text-align: center">骚年不要想着骚操作</h1>
<h1 style="text-align: center">知道错了吗？</h1>
<div class="text-center">
    <a  class="btn btn-lg btn-primary " type="button" href="/">我错了，带我回去</a>
</div>
</html>